brotlipy>=0.7.0
certifi
chardet>=4.0.0
charset-normalizer>=2.0.0
cryptography>=42.0.0
github3.py>=1.2.0
idna>=3.1
kamene>=0.32
opencv-python>=4.5.4
paramiko>=2.8.0
pbr>=5.7.0
pycparser>=2.21
pycryptodome>=3.11.0
pyOpenSSL>=21.0.0
PySocks>=1.7.1
requests>=2.26.0
setuptools>=69.0.0
six>=1.16.0
urllib3>=1.26.7
wheel>=0.42.0
